h1 {
    text-align: center;
    margin: 0px;
    color: white;
}
.topbar {
    height: 50px;
    background-color: rgb(85, 178, 61);

    margin-left: auto;
    margin-right: auto;
    
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

body {
    background-color: rgb(205, 225, 198);
    margin: 0px;
}

form {
    margin-left: auto;
    margin-right: auto;
}

#map {
    height: 800px;
    width :100%;
}

th {
	background-color: rgb(85, 178, 61);
}

td, th {
	border-width: 1px;
    border-color: black;
    border-style: solid;
	text-align: center;
	
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	
}

.leaflet-popup-content {
	margin: 0px;
}

.leaflet-popup-content-wrapper {
	padding: 0px;
}

.leaflet-container a.leaflet-popup-close-button {
	color: black;
}

.leaflet-container a.leaflet-popup-close-button:hover {
	color: red;
}